@* Testimonial ViewComponent *@
<section class="wpo-testimonial-section">
    <div class="testimonial-slider owl-carousel">
        <div class="item">
            <div class="bg-image">
                <img src="assets/images/img-1.jpg" alt="testimonial">
            </div>
            <div class="content fade_bottom">
                <div class="icon">
                    <img src="assets/images/quote.svg" alt="quote">
                </div>
                <h3>
                    "O projeto superou todas as nossas expectativas! Cada detalhe foi pensado para nossa família e o resultado ficou incrível. Recomendo demais o trabalho do escritório."
                </h3>
                <h4>Fernanda Souza</h4>
                <span>Empresária</span>
            </div>
        </div>
        <div class="item">
            <div class="bg-image">
                <img src="assets/images/img-2.jpg" alt="testimonial">
            </div>
            <div class="content fade_bottom">
                <div class="icon">
                    <img src="assets/images/quote.svg" alt="quote">
                </div>
                <h3>
                    "A equipe foi muito atenciosa e conseguiu transformar um espaço pequeno em um ambiente funcional e elegante. Fiquei muito satisfeito com o resultado!"
                </h3>
                <h4>João Batista</h4>
                <span>Professor</span>
            </div>
        </div>
        <div class="item">
            <div class="bg-image">
                <img src="assets/images/img-3.jpg" alt="testimonial">
            </div>
            <div class="content fade_bottom">
                <div class="icon">
                    <img src="assets/images/quote.svg" alt="quote">
                </div>
                <h3>
                    "Desde o primeiro contato até a entrega final, fui surpreendida pelo profissionalismo e criatividade. Meu apartamento ficou lindo e funcional!"
                </h3>
                <h4>Marina Lima</h4>
                <span>Médica</span>
            </div>
        </div>
    </div>
</section>
