@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Defina um tamanho fixo para o container da imagem se ainda não tiver */
    .image-1{
        width: 711px !important; /* ou a largura desejada em % */
        height: 1037px !important; /* ou a altura desejada */
        overflow: hidden !important; /* Garante que nada saia da caixa */
    }

    .image-2{
        width: 620px !important; /* ou a largura desejada em % */
        height: 700px !important; /* ou a altura desejada */
        overflow: hidden !important; /* Garante que nada saia da caixa */
    }

    /* A mágica acontece aqui */
    .image-1 img, 
    .image-2 img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important; /* Isso faz a imagem agir como um "background-size: cover" */
        object-position: center !important; /* Centraliza a imagem */
    }

    #navbar .navbar-nav li a:hover {
        color: #ffbd59 !important;
    }
</style>
<section class="wpo-hero-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="@Url.Content("~/assets/arq-images/casa-relva1.png")">
                    <div class="container">
                        <div class="slide-content">
                            <div data-swiper-parallax="400" class="slide-sub-title">
                                <h2 >
                                    Inovação em cada linha, Amor 
                                    @* <span><img src="assets/images/hero-text.jpg" alt=""></span> *@
                                     em cada espaço
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="@Url.Content("~/assets/arq-images/equolibrio1.png")">
                    <div class="container">
                        <div class="slide-content">
                            <div data-swiper-parallax="400" class="slide-sub-title">
                                <h2>
                                    Presença em cada canto, Luz 
                                    @* <span><img src="assets/images/hero-text.jpg" alt=""></span> *@
                                     em todo espaço
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <a href="#about" class="scroll-btn">
        <span>Scrolle para mais</span>
        <div class="scroll-befor">
            <img src="assets/images/down-arrow.svg" alt="">
        </div>
    </a>
</section>

<!--===== start wpo-about-section =====-->
<section id="about" class="wpo-about-section section-padding pb-0">
    <div class="about-wrap">
        <div class="content">
            <h2 class="poort-text poort-in-right" style="color: #FFBD59">Sobre nós</h2>
            <p class="fade_bottom">
                Somos um escritório de arquitetura apaixonado por transformar visões em realidade. 
                Transformar espaços comuns em lares, escritórios e ambientes extraordinários é a nossa missão.
                Apresentamos uma abordagem inovadora e personalizada para cada projeto, garantindo que cada detalhe 
                reflita a essência e os desejos de nossos clientes.
            </p>
            <div class="about-btn fade_bottom">
                <a href="about.php" class="theme-btn"> <span class="rolling-text">Descubra</span> </a>
                <div class="video-wrap">
                    <div class="video-holder">
                        <a href="https://www.youtube.com/embed/uySn1BZiWWs?si=XcM3FYqzlXkJaB0v" class="video-btn" data-type="iframe">
                            <svg width="24" height="27" viewBox="0 0 24 27" fill="none">
                                <path d="M22.25 15.665L4.99999 25.6243C3.33333 26.5865 1.25 25.3837 1.25 23.4592L1.25 3.54063C1.25 1.61613 3.33333 0.413319 5 1.37557L22.25 11.3349C23.9167 12.2971 23.9167 14.7027 22.25 15.665Z" stroke="black"></path>
                            </svg>
                        </a>
                    </div>
                    <span>Veja mais</span>
                </div>
            </div>
            @* <div class="about-funfact fade_bottom">
                <h3><span class="odometer" data-count="23">00</span> <span class="icon">+</span></h3>
                <h4>
                    Years Of <br>
                    Experience
                </h4>
            </div> *@
        </div>
    </div>
    <div class="image">
        <div class="image-1 poort-in-right">
            <img src="assets/arq-images/equolibrio1.png" alt="">
        </div>
        <!-- <div class="image-2  poort-in-right">
            <img src="assets/arq-images/imageimage.jpeg" alt="">
        </div> -->
    </div>
</section>

<!--===== start wpo-project-section =====-->
<section class="wpo-project-section section-padding">
    <div class="container-fulid">
        <div class="title">
            <h2 class="poort-text poort-in-right">Nossos trabalhos</h2>
        </div>
        <div class="project-wrap">
            <div class="project-card fade_bottom">
                <img src="assets/arq-images/casa-rebeca1.png" alt="Casa Rebeca">
                <img src="assets/arq-images/casa-rebeca1.png" alt="Casa Rebeca">
                <div class="content">
                    <h2><a href="project-single.php">Casa Rebeca</a></h2>
                    <span>Residencial</span>
                </div>
            </div>
            <div class="project-card fade_bottom">
                <img src="assets/arq-images/essenz1.png" alt="Essenz">
                <img src="assets/arq-images/essenz2.png" alt="Essenz">
                <div class="content">
                    <h2><a href="project-single.php">Essenz</a></h2>
                    <span>Residencial</span>
                </div>
            </div>
            <div class="project-card fade_bottom">
                <img src="assets/arq-images/casa-ja1.png" alt="Casa Já">
                <img src="assets/arq-images/casa-ja2.png" alt="Casa Já">
                <div class="content">
                    <h2><a href="project-single.php">Casa Já</a></h2>
                    <span>Residencial</span>
                </div>
            </div>
            <div class="project-card fade_bottom">
                <img src="assets/arq-images/casa-relva1.png" alt="Casa na Relva">
                <img src="assets/arq-images/casa-relva1.png" alt="Casa na Relva">
                <div class="content">
                    <h2><a href="project-single.php">Casa na Relva</a></h2>
                    <span>Residencial</span>
                </div>
            </div>
        </div>
        <div class="project-allBtn fade_bottom">
            <a href="projects.php" class="theme-btn"><span class="rolling-text">Ver mais</span> <img src="assets/images/right-arrow-2.svg" alt=""></a>
        </div>
    </div>
</section>

@await Component.InvokeAsync("Services")

<!--===== start wpo-funfact-section =====-->
<section class="wpo-funfact-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 fade_bottom">
                <div class="item">
                    <h2><span class="odometer" data-count="215">00</span> <span class="icon">+</span></h2>
                    <h3>Clientes</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 fade_bottom">
                <div class="item">
                    <h2><span class="odometer" data-count="550">00</span> <span class="icon">+</span></h2>
                    <h3>Vidas impactadas</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 fade_bottom">
                <div class="item">
                    <h2><span class="odometer" data-count="23">00</span> <span class="icon">+</span></h2>
                    <h3>Jornadas</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 fade_bottom">
                <div class="item">
                    <h2><span class="odometer" data-count="25">00</span> <span class="icon">+</span></h2>
                    <h3>Projetos</h3>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("Testimonial")

<!--===== start wpo-team-section =====-->
<section class="wpo-team-section">
    <div class="container-fluid">
        <div class="title">
            <h2 class="poort-text poort-in-right">Nossos parceiros</h2>
        </div>
        <div class="team-slider owl-carousel">
            <div class="col">
                <div class="team-card">
                    <div class="image">
                        <img src="assets/images/1_1.jpg" alt="team">
                        <img src="assets/images/1_1.jpg" alt="team">
                    </div>
                    <h2><a href="team-single.php"> <span class="rolling-text">Robert Fox</span></a></h2>
                    <span>Senior Architect </span>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <div class="image">
                        <img src="assets/images/2_2.jpg" alt="team">
                        <img src="assets/images/2_2.jpg" alt="team">
                    </div>
                    <h2><a href="team-single.php"> <span class="rolling-text">Harvard Bunion </span></a></h2>
                    <span>Partner & CEO</span>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <div class="image">
                        <img src="assets/images/3_1.jpg" alt="team">
                        <img src="assets/images/3_1.jpg" alt="team">
                    </div>
                    <h2><a href="team-single.php"> <span class="rolling-text">Benzamin Simon</span></a></h2>
                    <span>Interior Designer</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!--===== start wpo-partners-section =====-->
<section class="wpo-partners-section fade_bottom">
    <h2 class="d-none">No Content</h2>
    <ul class="partners-slider">
        <li>
            <div>
                <img src="assets/images/1.png" alt="">
            </div>
        </li>
        <li>
            <div>
                <img src="assets/images/2.png" alt="">
            </div>
        </li>
        <li>
            <div>
                <img src="assets/images/3.png" alt="">
            </div>
        </li>
        <li>
            <div>
                <img src="assets/images/4.png" alt="">
            </div>
        </li>
        <li>
            <div>
                <img src="assets/images/5.png" alt="">
            </div>
        </li>
        <li>
            <div>
                <img src="assets/images/2.png" alt="">
            </div>
        </li>
    </ul>
</section>
