<header id="header">
    <div class="wpo-site-header wpo-header-style">
        <nav class="navigation navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="row align-items-center g-0">
                    <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                        <div class="mobail-menu">
                            <button type="button" class="navbar-toggler open-btn">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar first-angle"></span>
                                <span class="icon-bar middle-angle"></span>
                                <span class="icon-bar last-angle"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 col-6">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.php"><img src="~/assets/arq-images/logo-semfundo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-1 col-1">
                        <div id="navbar" class="collapse navbar-collapse navigation-holder">
                            <button class="menu-close"><i class="ti-close"></i></button>
                            <ul class="nav navbar-nav mb-2 mb-lg-0">
                                <li class="menu-item-has-children image-style-item">
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Portifólio</a>
                                    <ul class="sub-menu">
                                        <li><a asp-controller="ProjectAptBianca" asp-action="Index">Apartamento Bianca</a></li>
                                        <li><a href="about.php">Casa na Relva</a></li>
                                        <li class="menu-item-has-children">
                                            <a >Deco </a>
                                            <ul class="sub-menu">
                                                <li><a href="services.php">Móveis</a></li>
                                                <li><a href="service-single.php">Decoração</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Interiores</a>
                                            <ul class="sub-menu">
                                                <li><a href="team.php">Team</a></li>
                                                <li><a href="team-single.php">Team single</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Comerciais</a>
                                            <ul class="sub-menu">
                                                <li><a href="team.php">Team</a></li>
                                                <li><a href="team-single.php">Team single</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!-- <li class="menu-item-has-children">
                                    <a href="#">Projetos</a>
                                    <ul class="sub-menu">
                                        <li><a asp-controller="ProjectAptBianca" asp-action="Index">Apartamento Bianca</a></li>
                                        <li><a href="project-single.php">Projects Single</a></li>
                                    </ul>
                                </li> -->
                                <li class="menu-item-has-children">
                                    <a href="#">Social</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.php">Instagram</a></li>
                                        <li><a href="shop-single.php">WhatsApp</a></li>
                                        <li><a href="cart.php">Telegram</a></li>
                                        <li><a href="checkout.php">YouTube</a></li>
                                        <li><a href="wishlist.php">E-Mail</a></li>
                                    </ul>
                                </li>
                                @* <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.php">Blog right sidebar</a></li>
                                        <li><a href="blog-left-sidebar.php">Blog left sidebar</a></li>
                                        <li><a href="blog-fullwidth.php">Blog fullwidth</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Blog details</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-single.php">Blog details right sidebar</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-left-sidebar.php">
                                                        Blog details left
                                                        sidebar
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-single-fullwidth.php">
                                                        Blog details
                                                        fullwidth
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> *@
                            </ul>

                        </div>

                    </div>
                    <div class="col-lg-2 col-md-2 col-2">
                        <div class="header-right">
                            <div class="header-search-form-wrapper">
                                <div class="cart-search-contact">
                                    <button class="search-toggle-btn"><i class="fi flaticon-loupe"></i></button>
                                    <div class="header-search-form">
                                        <form>
                                            <div>
                                                <input type="text" class="form-control" placeholder="Search here...">
                                                <button type="submit"><i class="fi flaticon-loupe"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="close-form">
                                <a class="theme-btn" href="contact.php">Contatos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>